*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 10px 0;
}
.container{
    max-width: 700px;
    margin: auto;
    padding: 20px;
}
section{
    border: 2px solid #000000;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
}
label{
    display: flex;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid #000000;
    margin-bottom: 3px;
    
}
label:hover{
    transition: .3s;
    background-color: blueviolet;
    cursor: pointer;
}
button{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    color: #000000 solid ;
    background-color: blueviolet;
    border: none;
    cursor: pointer;
    border-radius: 120px;
}
button:hover{
    background-color: #000000;
    color: #fff;
}
h2{
    text-align: center;
}
#resultado{
    font-size: 30px;
    color: darkred;
}